.mui-card-footer {
    padding: 0rem;
    height: 1rem;
}

.article-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 0.5rem;
}
.mui-card-footer {
    min-height: 2rem;
}