{% extends 'layout.html' %}
{% block title %}发帖{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="./static/css/post.css">

{% endblock%}

{% block content %}

<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title"><span class="mui-icon mui-icon mui-icon-compose"></span>发布帖子</h1>
</header>
<div class="mui-content">
    <form action="" id="post-form">
        <textarea cols="30" rows="20" placeholder="请输入内容" class="content" id="text-content"></textarea>
        <button type="button" class="mui-btn content-button" id="send-btn">发布</button>
    </form>


</div>
{% endblock %}
<script>
    {% block js %}
    document.getElementById("send-btn").addEventListener('tap', function () {
        var content = document.getElementById("text-content").value;
        console.log(content)

        mui.post('/post', {
            content,
        }, function (data) {
            if (data.errorMessage == '未登录') {
                mui.openWindow({
                    url: 'login',
                    id: 'login',
                    styles: {
                        top: '0px',
                        bottom: '0px'
                    }
                })
            }
            else if (data.errorMessage == null) {
                mui.toast(data.message)
                mui.openWindow({
                    url: 'post',
                    id: 'post',
                    styles: {
                        top: '0px',
                        bottom: '0px'
                    }
                });
                var post_form = document.getElementById("post_form").value;

                post_form.reset();
            }
            else {
                mui.toast(data.errorMessage)
            }
        }, 'json'
        );
    })
    {% endblock %}

</script>